*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.chatContainer{
    width: 100vw;
    height: 100vh;
    background: rgb(46, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatBox {
    width: 350px;
    max-height: 300px;
    background: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}
.chatBox::-webkit-scrollbar{
    width: 0px; 
    background: white;
    border-radius: 10px;
}
hr{
    width: 100%;
    height: 4px;
    background: rgb(148, 146, 146);
}
.userBox{
    width: 100%;
    margin: 4px;
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-username{
    display: flex;
    align-items: center;

}
.img-username img{
    width: 50px;
    object-fit: cover;
    vertical-align: middle;
}
.time-msgNumber{
    background: red;
    margin-right: 8px;
}
.time-msgNumber .time{
    font-size: 18px;
}
.time-msgNumber span{
    /* width: 100%; */
    display: block;
    text-align: center;
}