*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.chatContainer{
    width: 100vw;
    height: 100vh;
    background: rgb(92, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: scroll;
}
.chatBox {
    width: 350px;
    max-height: 600px;
    background: rgb(46, 44, 44);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}
.chatBox::-webkit-scrollbar{
    width: 0px; 
}

.userBox{
    width: 100%;
    /* margin: 4px; */
    background: rgba(82, 79, 79, 0.829); 
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.img-username{
    display: flex;
    align-items: center;
    position: relative;
    color: whitesmoke;
    padding: 0 4px;

}
.img-username img{
    width: 70px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
}
.img-username .connected {
    display: block;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    bottom: 5px;
}
.time-msgNumber{
    margin-right: 8px;
}
.time-msgNumber .time{
    font-size: 18px;
    margin-bottom: 7px;
    color: orange;
    font-weight: 600;
}
.time-msgNumber span{
    display: block;
    text-align: center;
    background: yellowgreen;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
}
.messageContainer{
    background: rgb(46, 44, 44);
    width: 0px;
    height: 600px;
    border-radius: 10px;
    border: none;
}
.messageContainer .username-arrowLeft{
    display:flex;
    background: rgba(82, 79, 79, 0.829);
    height: 60px;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.messageContainer .username-arrowLeft i {
    align-items: center;
    font-size: 30px;
    padding: 10px 20px;
    color: whitesmoke;
}
.messageContainer .username-arrowLeft div{
    /* flex-grow: 1fr; */
    /* background: white; */
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding: 10px 0;
    color: whitesmoke;
}
.messageBox{
    /* background: rgb(46, 44, 44); */
    height: 465px;
    width: 100%;
    max-height: 470px;
    overflow-y: scroll;


}
.messageBox::-webkit-scrollbar{
    width: 0;
}
.messageBox .sender{
    width: 200px;
    padding: 10px;
    background: orange;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: calc(100% - 210px);
}
.messageBox .receiver{
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: greenyellow;
    margin-left: 10px;
}
.messageBox .sender span, .messageBox .receiver span{
    display: block;
    text-align: end;
}
.inputContainer{
    background:  rgba(82, 79, 79, 0.829);
    height: 56px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.inputContainer input:nth-child(1){
    width: 80%;
    font-size: 18px;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
}

.inputContainer input:nth-child(2){
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: rgb(46, 44, 44);
    color: whitesmoke;
    cursor: pointer;
}