*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100px;
    background: rgb(51, 50, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    /* position: fixed; */
}
header .logo {
    margin-left: 20px;
}
header .logo img{
    width: 100px;
}
nav{
    /* background: red; */
    width: 50%;
    padding: 10px 0;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 22px;
}
nav ul li{
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a i{
    margin-right: 5px;
}
.post-chat-container{
    /* background: white; */
    display: flex;
    flex-direction: column;
}
.posts {
    /* background: green; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.post {
    background: rgb(51, 50, 49);;
    width: 50%;
    border-radius: 10px;

}
.profile-info{
    display: flex;
    padding: 10px;
    align-items: center;
    color: white;

}

.profile-info img{
    border-radius: 50%;
}
.username-time{
    margin-left: 10px;
}
.username-time p:nth-child(1) {
    /* color: #b8b4b4; */
    font-size: 18px;
}
.username-time p:nth-child(2) {
    color: #b8b4b4;
}
.categories{
    color: white;

}
.categories h3{
    padding: 10px;
}
.categories p {
    padding: 10px;
    font-size: 18px;
    color: rgb(226, 220, 220);
    /* background: rgb(121, 118, 116);; */
}
.h3{
    padding: 5px;
    color: white;
}
.title, .postBody{
    /* background:  rgb(121, 118, 116); */
    padding: 10px;
    font-size: 18px;
    color: white;
}
.btns{
    margin-top: 20px;
    background: rgb(218, 215, 213);
    display: flex;
}
.btns p {
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
}
.btns p span{
    margin-right: 5px;
}
.comments{
    background: white;
}
.commentContainer {
    margin: 5px 0;
    background: rgb(51, 50, 49);;
    border-radius: 10px;

}
.comments{
    /* background: red; */
    /* width: 400px; */
    max-height: 350px;
    overflow-y: auto;
}
.comment-btn {
    display: flex;
    align-items: center;
    padding: 10px;
}
.comment-btn textarea{
    border-radius: 10px;
    border: none;
    width: 300px;
    outline: none;
    font-size: 20px;
}
.comment-btn  button{
    margin-left: 10px;
    padding: 6px 10px;
    font-size: 18px;
    background: whitesmoke;
    border: none;
    border-radius: 10px;
}
hr{
    height: 3px;
}
.comment{
    display: flex;
    padding: 10x;
    margin: 10px 0px;
    color: white;
   
}

.comment img{
    width: 40px;
    border-radius: 50%;
}
.commentBody{
    /* background:  rgb(121, 118, 116); */
    padding: 10px;
    margin: 5px 0px;
    color: white;
}
.btnsComment {
    display: flex;
    background: rgb(218, 215, 213)
}
.btnsComment p{
    padding: 10px;
    font-size: 20px;
}
.btnsComment p span {
    margin-right: 5px;
}
.addPostContainer{
    /* background: red; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}.addPostContainer form {
    background: rgb(51, 50, 49);
    padding: 10px;
    border-radius: 10px;
}
.addPostContainer form .categories{
    display: flex;
    flex-wrap: wrap;
}
.categories .category{
    background: rgba(102, 100, 99, 0.637);
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.content {
    /* background: blue; */
    padding: 10px;
}
.content h3{
    margin-bottom: 5px;
    color: whitesmoke;
}
.content textarea {
    display: block;
    border-radius: 10px;
    border: none;
    width: 600px;
}
#addPost{
    background: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-size: 20px;
}

.msgError{
    background: red;
    position: absolute;
    width: 300px;
    padding: 20px;
    left: 0;
    top: 0;
    margin: auto;
    color: white;
}




/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header .logo {
        margin: 10px 0;
    }

    nav {
        width: 100%;
        padding: 10px 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        font-size: 18px;
        margin: 10px 0;
    }
    nav ul li i {
        margin: 0 5px;
        font-size: 22px;
    }
    .post {
        width: 90%;
        margin: auto;
    }

    .posts {
        align-items: flex-start;
    }

    .comment-btn textarea {
        width: 100%;
    }

    .addPostContainer form {
        width: 100%;
    }

    .content textarea {
        width: 100%;
    }

    #addPost {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .post {
        width: 90%;
        margin: auto;
    }

    .comment-btn textarea {
        width: 100%;
    }

    .addPostContainer form {
        width: 90%;
    }
    .category, .content h3{
        margin-top: 10px;
    }
    .content textarea {
        width: 100%;
    }

    #addPost {
        width: 40%;
        display: block;
        margin: 10px auto;
    }

    .btns p {
        font-size: 18px;
    }

    .btnsComment p {
        font-size: 18px;
    }
    .comment{
        padding: 10px;
    }
}